@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body{
    background-color:  hsl(0, 0%, 95%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    margin: 2rem;
    border-radius: 12px;
}

/*------MAIN BOX STYLES------*/
.box{
    padding: 40px;
}

.box h2{
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
}

.box p{
    color: hsl(0, 0%, 100%, 0.75);
    line-height: 1.6;
}

.box a{
    background-color: hsl(0, 0%, 95%);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    margin-top: 50px;
}
.box a:hover{
    border: 1px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    background-color: transparent;
    transition: all 400ms ease;
}


/*------BOX1 STYLES------*/
.box1{
    background-color: hsl(31, 77%, 52%);
}
.box1 a{
    color: hsl(31, 77%, 52%);
}


/*------BOX2 STYLES------*/
.box2{
    background-color: hsl(184, 100%, 22%);
}
.box2 a{
    color: hsl(184, 100%, 22%);
}


/*------BOX3 STYLES------*/
.box3{
    background-color: hsl(179, 100%, 13%);
}
.box3 a{
    color: hsl(179, 100%, 13%);
}


/*------Media Query------*/
@media only screen and (max-width: 768px){
    .grid-container{
        grid-template-columns: 1fr;
    }
}